.footer {
    background-color: #17324f;
    min-height: auto;
    color: white;
}

p {
    text-align: center;
    margin: 0;
    padding: 8px;
    line-height: 20px;
}

.redText {
    color: red;
}
