@import 'src/scss/main.scss';

.wrapHeader {
	// height: 34px;
	// background-color: $primaryColor !important;
	&__main {
		background: white;
		color: black;
		width: 100%;
		padding: 5px;
		// border-bottom: solid 2px #222;

		display: flex;
		flex-flow: column nowrap;
	}

	.line-break {
		width: 100%;
		margin: 5px;
	}
}
