@import 'src/scss/main.scss';

.wrapHeader {
	border-bottom: solid 3px #222;
	background-color: $primaryColor !important;
	&__main {
		background: white;
		color: black;
		width: 100%;
		padding: 5px;

		display: flex;
		// flex-flow: column nowrap;
	}

	// .line-break {
	// 	width: 100%;
	// 	margin: 5px;
	// }
}
