@import 'src/scss/main.scss';

.proCaView {
	margin: 10px;
	width: 100%;

	&__bar,
	.proCaViewBar {
		position: relative;
		font-size: 15px;
		border-bottom: solid 2px #000;
		padding: 5px;

		&__title {
			padding: 5px 10px 5px 5px;
			color: white;
			text-transform: uppercase;
			background-color: $primaryColor;
			border-radius: 0px 15px 0px 0px;

			font-weight: bolder;
		}

		&__category {
			padding: 5px;
			// text-transform: uppercase;
			margin-left: 10px;

			&:hover {
				color: red;
				cursor: pointer;
			}
		}

		.end-div {
			text-decoration: none;
			color: #0b3472;

			position: absolute;
			right: 10px;

			&:hover {
				transition: 0.2s ease-in-out;
				transform: scale(1.05);
			}

			&__icon {
				margin-left: 5px;
				vertical-align: text-top;

				&:hover {
					color: red;
				}
			}
		}
	}

	&__content .proCaViewContent {
		&__news,
		&__prod {
			margin: 5px;
		}
	}
}
