.banner {
	max-height: fit-content;

	&__left {
		padding: 10px;
		height: 100%;

		.carousel .thumb img {
			width: 100% !important;
			height: 100% !important;
		}

		.carousel .slide img {
			max-height: 300px; /* change this to whatever you want */
			width: auto;
		}
	}

	&__right,
	.rightBanner {
		display: grid;
		grid-template: 1fr 1fr/1fr;
		grid-gap: 5px;
		height: auto;

		&__video {
			margin-top: 5px;
			position: relative;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
		}

		&__img {
			img {
				max-height: 100%;
				height: auto;
				width: 100%;
			}
		}
	}
}
